version: 2
updates:
  - package-ecosystem: npm
    directory: /
    schedule:
      interval: weekly
      day: sunday
      time: '22:00'
    open-pull-requests-limit: 10
    versioning-strategy: increase
    labels:
      - 'source: dependencies'
      - 'pr: chore'
    groups:
      codemirror:
        patterns:
          - '@codemirror/*'
          - '@uiw/react-codemirror'

      eslint:
        patterns:
          - 'eslint*'
          - '@typescript-eslint/*'
          - 'prettier'
          - 'eslint-plugin-*'

      jest:
        patterns:
          - 'jest*'
          - '@swc/jest'
          - '@testing-library/*'
          - '@types/jest'

      radix-ui:
        patterns:
          - '@radix-ui/*'

      # this is out of sequence to see if it captures `@storybook/react` as it might be being caught by `react`.
      storybook:
        patterns:
          - '@storybook/*'
          - '@storybook/react'
          - 'storybook-dark-mode'
          - 'storybook'

      react:
        patterns:
          - 'react'
          - 'react-dom'
          - '@types/react'
          - '@types/react-dom'

      styled-components:
        patterns:
          - '@types/styled-components'
          - 'styled-components'

      typescript:
        patterns:
          - '@rollup/plugin-typescript'
          - 'typescript'
          - '@tsconfig/*'

      vite:
        patterns:
          - 'vite'
          - '@vitejs/*'
          - 'vite-plugin-*'
          - '@swc/core'

  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
      day: sunday
      time: '22:00'
    labels:
      - 'source: dependencies'
      - 'pr: chore'
