name: Bundle-size

on:
  pull_request: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref_name }}
  cancel-in-progress: true

jobs:
  size:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: yarn

      - uses: actions/cache@v3
        with:
          path: '**/node_modules'
          key: ${{ runner.os }}-${{ matrix.node }}-${{ hashFiles('**/yarn.lock') }}

      - run: yarn install

      - name: Build packages
        run: yarn build

      - uses: preactjs/compressed-size-action@v2
        with:
          pattern: '**/dist/**/*.{cjs,js,mjs,svg}'
