name: Playwright tests
on:
  pull_request:
    branches: ['develop', 'master']
  workflow_dispatch:

jobs:
  e2e:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
      - uses: microsoft/playwright-github-action@v1

      - name: Install dependencies
        run: yarn global add http-server && yarn && yarn bootstrap

      - name: Lint
        run: yarn lint

      - name: Unit / Integration tests
        run: yarn test

      - name: Build storybook
        run: yarn build-storybook

      - name: Build library
        run: yarn build

      - name: Start storybook
        run: cd packages/strapi-design-system/storybook-static && http-server -p 6006 &

      - name: Run the tests
        run: yarn test:e2e:ci

  # Remove until the Strapi conf :rocket:
  # deploy:
  #     runs-on: ubuntu-latest
  #     needs: e2e
  #     if: github.ref == 'refs/heads/master'

  #     steps:
  #         - uses: actions/checkout@v2
  #         - uses: actions/setup-node@v1

  #         - name: Install dependencies
  #           run: npm install

  #         - name: Build storybook
  #           run: npm run build-storybook

  #         - name: Deploy
  #           uses: JamesIves/github-pages-deploy-action@4.0.0
  #           with:
  #               branch: gh-pages
  #               folder: storybook-static
