name: Playwright tests
on:
  pull_request:
    branches: "*"
  workflow_dispatch:

jobs:
  e2e:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: "14"
      - uses: microsoft/playwright-github-action@v1

      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn cache dir)"

      - uses: actions/cache@v2
        id: yarn-cache # use this to check for `cache-hit` (`steps.yarn-cache.outputs.cache-hit != 'true'`)
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-

      - name: Install yarn dependencies
        run: yarn global add http-server && yarn

      - name: Install Playwright
        run: npx playwright install --with-deps

      - name: Link locale packages and install their dependencies
        run: yarn bootstrap

      - name: Build
        run: yarn build

      - name: Lint
        run: yarn lint

      - name: Unit / Integration tests
        run: yarn test

      - name: Build storybook
        run: yarn build-storybook

      - name: Start storybook
        working-directory: ./packages/strapi-design-system/storybook-static
        run: http-server -p 6006 &

      - name: Run the tests
        run: yarn test:e2e:ci
